.bchead {
	background: url(../images/head-bg.jpg) 50% 100%/cover no-repeat fixed;
}
.breadcrumbs {
	text-align: left;

	a:visited {
		color: $footerbar-font-color;
	}
}

.youhere {
	padding: 5em 1em 5em 0;
	display: block;
	width: 130px;
	float: left;
	box-shadow: 1px 1px 0 0.1px rgba(255, 255, 255, 0.4);
}

.breadlist {
	display: block;
	float: left;
	padding: 5em 1em;
}